<div class="topnav">
  <div class="nav-img">
    <img id="plus" src="images/plus.png" alt="plus sign" height="30px">
  </div>

  <div class="nav-content">
    <a href="">Tasks</a>
    <a href="dashboard">Dashboard</a>
    <a class="active" href="project">Project</a>

    <div class="right">
      <div class="search">
        <input type="text" class="search-class" name="search" placeholder="Search..." />
      </div>

      <a href="/logout">Log Out</a>
    </div>

  </div>

</div>

<!-- add the modal HTML inside the body -->
<div id="task-modal" class="modal">
  <div id="task-modal-content" class="modal-content">
    <span class="close">&times;</span>
    <div class="card">
      {{!-- <div class="title-task-modal-div"> --}}
        <form class="task-form" action="/cards" method="POST">
          <label name="title-label" class="title-label">Title</label>
          <input class="title-input" type="text">
          <label name="task-label" class="task-label">Task Description</label>
          <textarea class="task-descrip" rows="3" cols="62"></textarea>
          {{!--
      </div> --}}

      <div class="cat-user-modal-div">
        <label name="cat-label" class="cat-label">Category</label>
        <input id="cat-input" class="cat-input" type="text">

        <div class="selected-user">
          <p> </p>
        </div>

        <div class="dropdown">
          <input type="button" onclick="dropDownUser()" class="dropbtn" value='Assign a Teammate' />

          <div id="userDropdown" class="dropdown-content">
            {{#each users}}
            <a user_id="{{this.id}}" href="#">{{this.email}}</a>
            {{/each}}
          </div>


        </div>
        <div class="">
          <input type="button" id="cancel-task-btn" value='Cancel'>
          <button type="submit" id="submit-task-btn">Submit</button>
        </div>
      </div>
      </form>


    </div>
  </div>
</div>


{{!-- https://www.w3schools.com/howto/howto_css_badge.asp --}}
<section class="columns-wrapper">
  <div class="h1">
<h1 id="project-name">{{project.proj_title}}</h1>
  </div>
  <div class="row">
    
    <div class="col-xs-4">
      <div class="box" id="to-do">
           
        <h3 class="project">To Do</h3>
{{#each todo_cards}}  
        <div class="">
          <a href="/edit_card/{{this.id}}">
          <div class="task-card task-card-project">
            <h5>{{this.task_title}}</h5>
            </a>
            <p class="task-test">{{this.task_desc}}</p>
            <div class="user-cat">
              <span class="badge">{{this.task_cat}}</span>
              <span class="badge">{{this.teammate_email}}</span>
            </div>
          </div>
        </div>
{{/each}}

      </div>
    </div>

    <div class="col-xs-4">
      <div class="box" id="in-progress">
        <h3 class="project">In Progress</h3>
     
{{#each inprogress_cards}}
      <div class="">
        <a href="/edit_card/{{this.id}}">
        <div class="task-card task-card-project">
          <h5>{{this.task_title}}</h5>
          </a>
          <p class="task-test">{{this.task_desc}}</p>
          <div class="user-cat">
            <span class="badge">{{this.task_cat}}</span>
            <span class="badge">{{this.teammate_email}}</span>
          </div>
        </div>
      </div>
{{/each}}
    </div>
</div>


    <div class="col-xs-4">
      <div class="box" id="completed">
        <h3 class="project">Completed</h3>
{{#each completed_cards}}

      <div class="">
        <a href="/edit_card/{{this.id}}">
        <div class="task-card task-card-project">
          <h5>{{this.task_title}}</h5>
          </a>
          <p class="task-test">{{this.task_desc}}</p>
          <div class="user-cat">
            <span class="badge">{{this.task_cat}}</span>
            <span class="badge">{{this.teammate_email}}</span>
          </div>
        </div>
      </div>
{{/each}}
    </div>
  </div>

</section>



<div class="footer">
  <p>&copy Mathew Garry, Matthew Moraga, Cassandra Scelsi</p>
  <a href="https://www.flaticon.com/free-icons/project" title="project icons">Project icons created by Freepik -
    Flaticon</a>
</div>
